.particles-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.particles-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
